
@media all and (min-width:600px){
  section{
    padding:0 10%;
  }
  .group{
    flex-direction: row;
  }

  header {
   display: flex;
   justify-content: space-between;
   padding: 0 30px;
 }

 header h1 {
   margin: 14px 0;
   padding-top: 0;
 }

 header nav {
   margin-top: 8px;
 }

}

.group img{
  width:100%;
}

.group{
  display:flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.item{
  flex:1;
  margin:0px;
}

.item-double{
  flex:2;
  margin:0px;
}
/*blocks and centers image*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
/*style for a paragraphs*/
p{
  text-align: center;
  font-family:Helvetica, Arial;
  color:#001F52;
  font-size: 16px;
}
/*style for all h1 elements, includes large font*/
/*h1{
  text-align:center;
  font-family: Helvetica,Arial;
  color:#034078;
  font-size:30px;
}
/*style for all h2 elements, includes padding*/
h2{
  text-align:center;
  font-family: Helvetica,Arial;
  color:#034078;
  font-size:20px;
  padding-top:10px;
}
/*style for all h3 elements, includes padding*/
h3{
  text-align: center;
  font-family: Helvetica, Arial;
  color:#819EBA;
  font-size:18px;
  padding-right:25px;
}
/*style for unorderd list, includes change to markers*/
ul{
  list-style-type: circle;
  list-style-position: inside;
  text-align:center;
  padding-right:75px;
}
/*style for ordered list, includes change to listed numbers*/
ol{
  list-style-type:lower-roman;
  list-style-position: inside;
  padding-right:75px;
}
/*style for list items*/
li{
  color:#819EBA;
  font-family:Helvetica,Arial;
  text-align:center;
}
/*style for the body element, includes margin changes*/
body{
  background-color:#FEFCFB;
  font-family:Helvetica, Arial;
  color:#0A1128;
  margin-left:200px;
  margin-right:200px;
}
/*style for all horizontal rule lines. This ones my favorite element.*/
hr{
  height:12px;
  border:0;
  box-shadow: inset 0 12px 12px -12px #819EBA;
}

/*style for the header element, includes a font-variant*/
header{
  font-family:"Helvetica","Arial";
  font-variant:small-caps;
  margin-left:25px;
  margin-right: 25px;
  margin-bottom: 40px;
  padding-right:15px;
  background-color: #001F52;
}

header h1{
  color:#B5D6E0;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}



/*specfic style for the navigation bar*/
header nav{
  font-family: "Helvetica", "Arial";
  font-size:18px;
  color:#B5D6E0;
  display: flex;
  justify-content: center;
}

header nav ul{
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a{
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/*three color changes for links using pseudo-classes*/
a:link{
  color:#B5D6E0;
}

a:visited{
  color:#819EBA;
}

a:hover{
  color:#88BFCF;
}
/*style changes for the main element, additional margin changes*/
.main{
  background-color: #F0EFEB;
  font-family: Helvetica, Arial;
  text-align: center;
  margin-top: 50px;
  margin-bottom:50px;
  margin-right:100px;
  margin-left:100px;
}

section{
  margin-bottom:25px;
}



/*style changes to specific paragraph, using a pseudo element*/
.smallCaps::first-line{
  font-variant: small-caps;
  color:#E1EDF0;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.about{
  text-align: center;
}


div.contact{
  background-color: #034078;
  color:#FEFCFB;
  text-align: center;
}
/*contact links at the bottom. Links should change color.*/
div.contactLinks{
  color:#FEFCFB;
  background-color:#034078;
  font-size: 12px;
  word-spacing:100px;
  text-align:center;
}
/*style for the footer, and my wee small copyright*/
footer p{
  color:#819EBA;
  font-family: Helvetica, Arial;
  font-size: 10.5px;
  text-align: right;
  background-color:#001F52;
}
